div(class='pure-menu custom-restricted-width')
    span.menu__title.pure-menu-heading= title
    ul.pure-menu-list
        each item, index in items
            li.pure-menu-item(data-index=index)
                a.pure-menu-link(data-action='pick' href=item.href)= item.anchor
                i.close(data-action='remove')
